.ok {
    background-color: hsl(48, 100%, 67%);
}
.ok td {
    width: 2rem;
    height: 2rem;
}
.ok .s {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ok .s.w {
    background: white;
}
.ok .s.b {
    background: #4c421a
}